streamlit
gradio
google-generativeai
python-dotenv
pandas
numpy
scipy
scikit-learn
matplotlib
seaborn
plotly
plotly-express
huggingface_hub

pytubefix
opencv-python
pillow

# FAST API 
fastapi
uvicorn[standard]
nest-asyncio
aiohttp